[Unit]
Description=PiLED Service
After=network.target

[Service]
ExecStart=/usr/local/bin/piled
SyslogIdentifier=piled

[Install]
WantedBy=multi-user.target